<h2>Form di Inserimento</h2>
Nome: <input type="text" #nome placeholder="Nome">
<br>
Cognome: <input type="text" #cognome placeholder="Cognome">
<br>
Indirizzo: <input type="text" #indirizzo placeholder="Indirizzo">
<br>
Telefono: <input type="text" #telefono placeholder="Telefono">
<br>
Email: <input type="text" #email placeholder="Email">
<br>
Data Prenotazione: <input type="text" #data placeholder="Data Prenotazione">
<br>
Ora Prenotazione: <input type="text" #ora placeholder="Ora Prenotazione">

<button (click)="salva(nome, cognome, indirizzo, telefono, email, data, ora)">Salva</button>

@for(pre of vettPrenotazioni; track pre){
  <br><br>
  <app-lista-prenotazioni [prenotazione]= "pre"></app-lista-prenotazioni>
}